<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="MicrosoftAppId" value="981d1927-614e-48b9-8e05-3263d8f2dd79" />
    <add key="MicrosoftAppPassword" value="HTiovjcPQGkpJO6fSWNN1Zq" />
  </appSettings>
  
    
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
    
</configuration>
